@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  position: relative;
  border-left: 1px solid $divider-color;
}

.dropdownTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $color-picker-height;
  height: $color-picker-height;
  border: 0;
  color: $grey-text-color;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  background-color: #ffffff;
  border-radius: 2px;
  @include z-depth;

  &::before {
    position: absolute;
    top: -8px;
    left: 15px;
    content: '';
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
  }

  &.open {
    display: block;
  }
}