@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  display: flex;
  width: 250px;
  height: $color-picker-height;
  background-color: #ffffff;
  border: 1px solid $border-color;
  border-radius: 2px;
  @include z-depth;
}

.text {
  line-height: $color-picker-height;
  text-transform: uppercase;
  flex: 1;
  padding-left: 12px;
  color: $grey-text-color;
  font-weight: 500;
}

.action {
  border-left: 1px solid $border-color;
}

.arrowDown {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $grey-text-color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}