@import '../../styles/variables';

.list {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: $grey-text-color;
  transition: color, background-color .2s ease-in-out;

  & + & {
    border-top: 1px solid $divider-color;
  }

  &:hover {
    color: white;
    background-color: #3377B6;
    cursor: pointer;
  }
}